@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}

.input {
  @apply w-full bg-slate-900 border border-slate-600 px-3 py-2 rounded;
}

.btn-primary {
  @apply bg-cyan-500 hover:bg-cyan-400 text-black px-4 py-2 rounded font-bold;
}
